[package]
name = "tesser-strategy"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
serde.workspace = true
thiserror.workspace = true
tracing.workspace = true
tesser-core = { path = "../tesser-core" }
